<script type="text/ng-template" id="template-custom-typeahead-results-properties.html">
  <a>
    <span class="label label-primary">P</span>
    <span ng-bind-html="match.model.value | uibTypeaheadHighlight:query"></span>
    <span class="label label-primary" ng-bind-html="match.model.description | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<script type="text/ng-template" id="template-custom-typeahead-results-commands.html">
  <a>
    <span class="label label-warning">C</span>
    <span ng-bind-html="match.model.value | uibTypeaheadHighlight:query"></span>
    <span class="label label-warning" ng-bind-html="match.model.description | uibTypeaheadHighlight:query"></span>
    <span class="label label-default" ng-bind-html="match.model.arguments | uibTypeaheadHighlight:query"></span>
  </a>
</script>
<toast></toast>
<h1 class="main-title">Vizrt Command Sender</h1>
<div class="row margin-6">
  <div class="col-xs-8">
    <div class="well">
      <div class="row">
        <div class="col-xs-6">
          <h4 class="title">Viz Engine IP</h4>
          <hr/>
          <input type="text" class="form-control" ng-model="vm.ip" />
        </div>
        <div class="col-xs-6">
          <h4 class="title">Archive</h4>
          <hr/>
          <div>
            <form class="form-inline">
              <button type="button" class="btn btn-success btn-sm" ng-click="vm.loadArchive()"><i class='fa fa-folder-open-o'></i>&nbsp;&nbsp;Load</button>
              <input type="file" id="load-archive" name="files[]" style="display:none;" /> &nbsp;|&nbsp;
              <button type="button" class="btn btn-success btn-sm" ng-click="vm.saveArchive()"><i class='fa fa-floppy-o'></i>&nbsp;&nbsp;Save</button>
              <input type="text" class="form-control" ng-model="vm.archiveName" placeholder="Archive name" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="well" id="builder">
      <h4 class="title">Command Builder</h4>
      <hr/>
      <div class="row">
        <div class="col-xs-10">
          <div class="row margin-bottom-12">
            <div class="col-xs-12">
              <input type="text" class="form-control" placeholder="Description" ng-model="vm.newCommand.description" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <div class="row">
                <div class="col-xs-10">
                  <input type="text" placeholder="Parameter" class="form-control input-blue" ng-model="vm.newCommand.properties[0]" uib-typeahead="property.value as property.value for property in vm.slots[0] | filter:{value:$viewValue}" typeahead-template-url="template-custom-typeahead-results-properties.html"
                  />
                </div>
                <div class="col-xs-2">
                  <span class="large-star">*</span>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="row">
                <div class="col-xs-10">
                  <input type="text" placeholder="Parameter" class="form-control input-blue" ng-model="vm.newCommand.properties[1]" uib-typeahead="property.value as property.value for property in vm.slots[1] | filter:{value:$viewValue}" typeahead-template-url="template-custom-typeahead-results-properties.html"
                  />
                </div>
                <div class="col-xs-2">
                  <span class="large-star">*</span>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="row">
                <div class="col-xs-10">
                  <input type="text" placeholder="Parameter" class="form-control input-blue" ng-model="vm.newCommand.properties[2]" uib-typeahead="property.value as property.value for property in vm.slots[2] | filter:{value:$viewValue}" typeahead-template-url="template-custom-typeahead-results-properties.html"
                  />
                </div>
                <div class="col-xs-2">
                  &nbsp;
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <input type="text" placeholder="Command" class="form-control input-yellow" ng-model="vm.newCommand.command" uib-typeahead="property.value as property.value for property in vm.slots[3] | filter:{value:$viewValue}" typeahead-template-url="template-custom-typeahead-results-commands.html"
              /> &nbsp;
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <textarea placeholder="Attributes" class="form-control command-params" ng-model="vm.newCommand.attributes"></textarea>
            </div>
          </div>
        </div>
        <div ng-hide="vm.editingCommand" class="col-xs-2">
          <button class="btn btn-success" type="button" ng-click="vm.addToStack()">Add &nbsp;&nbsp;<i class='fa fa-level-down'></i></button>
          <button class="btn btn-success" type="button" ng-click="vm.resetCommand()">Clear &nbsp;&nbsp;<i class='fa fa-trash'></i></button>
        </div>
        <div ng-show="vm.editingCommand" class="col-xs-2">
          <button type="button" class="btn btn-success btn-sm" ng-click="vm.confirmEdit()"><i class='fa fa-thumbs-o-up'></i>&nbsp;&nbsp;Save</button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="vm.cancelEdit()"><i class='fa fa-thumbs-o-down'></i>&nbsp;&nbsp;Cancel</button>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-8">
              <h4 class="title">Commands</h4>
            </div>
            <div class="col-xs-4 align-right">
              <button ng-show="vm.stack.length > 0" class="btn btn-danger" type="button" ng-click="vm.clearStack()"><i class='fa fa-trash-o'></i>&nbsp;&nbsp;Clear</button>
            </div>
          </div>
          <hr/>
          <div id="sortable-container" class="stack-container" ng-sortable="vm.sortableConfig">
            <command-item command="command" send="vm.sendCommand(command)" copy="vm.copyCommand(command)" edit="vm.editCommand(command)" remove="vm.removeCommand(command)" ng-repeat="command in vm.stack track by $index"></command-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="well">
      <div class="row ">
        <div class="col-xs-8">
          <h4 class="title">Console</h4>
        </div>
        <div class="col-xs-4 align-right">
          <button class="btn btn-danger" type="button" ng-click="vm.clearConsole()"><i class='fa fa-trash-o'></i>&nbsp;&nbsp;Clear</button>
        </div>
      </div>
      <hr/>
      <textarea class="form-control console">{{vm.consoleLog}}</textarea>
    </div>
  </div>
</div>